
.footer {
    color: $white;
    font-weight: 400;
    padding-bottom: 50px;
		// .footer__row

		&__row {
            background-color: $black;
            border-top-left-radius: 45px;
            border-top-right-radius: 45px;
            padding: 50px 60px;
		}

		// .footer__header

		&__header {
            padding-bottom: 66px;
		}

		// .footer__body

		&__body {
		}

		// .footer__footer

		&__footer {
            padding-top: 50px;

		}
        &__footer ul{
            display: flex;
            column-gap: 40px;
        }
        &__footer ul li:last-child{
            text-decoration: underline;
        }
}


.item {
}
.footer-body {

		// .footer-body__row

		&__row {
            display: flex;
            justify-content: space-between;
            padding-bottom: 50px;
            border-bottom: 1px solid $grey;
            column-gap: 100px;
		}

		// .footer-body__list

		&__list {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            align-items: start;
		}
        &__list li:first-child{
            background-color: $green;
            font-weight: 500;
            margin-bottom: 7px;
            border-radius: 8px;
            color: $black;
            padding-inline: 7px;
        }

		// .footer-body__form

		&__form {
            display: flex;
            justify-content: center;
            column-gap: 20px;
            align-items: center;
            padding: 80px 40px;
            background-color: #292A32;
            border-radius: 14px;
		}

		// .footer-body__email

		&__email {
            max-width: 285px;
            padding: 22px 35px;
            border: 1px solid $white;
            border-radius: 14px;
		}
            &__submit{
                  background-color: $green !important;

            }
		// .footer-body__submit

		&__submit:hover{
            color: $black;
            opacity: 0.5;
		}
}
@media(max-width: 425.9px){

      .footer-body__row{
            display: flex;
            flex-direction: column;
            row-gap: 37px;
            align-items: center;
            text-align: center;

      }
      .footer-body__list{
            align-items: center;
      }
      .footer-body__form{
            flex-direction: column;
            row-gap: 22px;
            padding: 30px;
      }
      .footer-body__submit{
            align-self: stretch;
      }
      .footer__footer ul{
            flex-direction: column;
            row-gap: 15px;
            text-align: center;
      }
}