.process {
    padding-block: 140px;

    &__row {

        display: flex;
        flex-direction: column;

    }

    // .process__header

    &__header {

    }

    // .process__body

    &__body {
        display: flex;
        flex-direction: column;
        row-gap: 30px ;
    }

    // .process__item

    &__item {
        display: flex;
        flex-direction: column;
        row-gap: 60px;
        padding: 40px 60px;
        border-bottom: 1px solid $black;
        border: 1px solid black;
        border-radius: 45px;
        box-shadow: 0 5px 0 $black;
    }

    // .process__title

    &__title {
        display: flex;
        justify-content: start;
        column-gap: 25px;
        // height: 77px;
        align-items: center;
    }
    &__title h3{
        font-size: 30px;
    }
    &__number{
        font-size: 60px;

    }
    // .process__desc

    &__desc {
        display: none;
        font-weight: 400;
        line-height: 1.27;
    }
    & button{
        background-image: url(img/process/+.svg) ;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: auto;
        width: 58px;
        aspect-ratio: 1;
        border: 1px solid $black;
        border-radius: 50%;
        background-color: $grey;
    }
}

.process__item.process__item-active .process__desc{
    display: block;
}
.process__item.process__item-active{
    background-color: $green;
}
.process__item.process__item-active button{
    background-image: url(img/process/-.svg) ;

}
@media(max-width: 425px){
    .process__title{
        column-gap: 33px;
    }
    .process__title h3{
        font-size: 18px;
    }
    .process__number{
        font-size: 30px ;
    }
    .process__item button{
        background-size: 13px 13px;

        width: 30px;
        aspect-ratio: 1;
        flex-shrink: 0;
    }
}